*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.Container{
    text-align: center;
    margin-top:1rem;
}

.Container p{
    margin-top: 0.3rem;
    font-size: 20px;
}

.CakeContainer{
    margin-bottom: 2rem;
    margin-top: 2.5rem;
}

.classImg{
    width:100px;
    height: 100px;
    margin-right: 1rem;
    cursor: pointer;
}


.classImgBorder{
    border: 2px solid rgb(218, 148, 20);
    border-radius:8px;
}

.cakeInfo{
    width:350px;
    display: inline-block;
    box-shadow: 0 5px 10px rgba(0,0,0,0.7);
    padding: 1.2rem 2rem;
    box-sizing: border-box;
}

.bottomBox{
    display: flex;
    justify-content: space-between;
    padding: 1rem auto;
    margin-top: 1rem;
}

.priceBg{
    background-color: rgb(218, 148, 20);
    padding: 0.2rem;
    border-radius: 4px;
}

.rateBg{
    padding: 0.5rem;
    border-radius: 50%;
    box-shadow: 2px 5px 10px rgba(37, 28, 28, 0.7);
}